.slider-container {
  padding: 0 80px;
  background: #000;
  color: #fff;

  .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 100px;

    h2 {
      font-size: 24px;
    }

    .nav-buttons-header {
      display: flex;
      gap: 10px;

      button {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 8px 12px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease;
        
        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
        
        &:disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }
      }
    }
  }
  
  .controlled-slider {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
    .card {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      // background-color: red;
      border: 1px solid rgb(58, 58, 58);
      padding: 20px;
      border-radius: 15px;
      
      img {
        border-radius: 10px;
      }
      
      .card-title {
        margin-top: 0.5rem;
        font-size: 1.1rem;
      }
      
      .watch-label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        padding: 6px 14px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 2;
        white-space: nowrap;
      }
      
      
      .card:hover .watch-label {
        opacity: 1;
      }
    }
    .card:hover {
      border: 1px solid orange;
    }
  }

  @media (max-width: 768px) {
    .controlled-slider .card {
      flex: 0 0 100%;
    }

    .slider-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
}


